html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Rethink Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  color: #2B2A29;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

/* header */
.header {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 80px;
}

.header__top {
  padding: 50px 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  font-size: 20px;
  font-weight: 700;
}

.menu__list {
  display: flex;
  gap: 40px;
  color: #0A507A;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  background-color: #0A507A;
  padding: 10px 20px;
  border-radius: 30px;
}

.title-img {
  margin-bottom: 12px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.title-text {
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 30px;
  background-color: #2B2A29;
  padding: 10px 20px;
  display: inline-block;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
  flex-direction: column;
  gap: 118px;
  margin-top: auto;
}

.header__info-list {
  max-width: 485px;
  display: flex;
  gap: 18px 10px;
  flex-wrap: wrap;
}

.header__info-item {
  font-size: 26px;
  font-weight: 700;
  padding: 10px 20px;
  color: #0A507A;
  border-radius: 30px;
  border: 1px solid #0A507A;
}

.header__social {
  margin-top: auto;
}

.header__social-list {
  display: flex;
  gap: 20px;
}

.header__news {
  margin-top: -50px;
}

.header__news-box {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .8);
  margin-bottom: 100px;
}

.header__news-title,
.header__news-time {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

.header__news-time {
  margin-bottom: 10px;
}

.header__news-link {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 30px;
  align-self: flex-start;
}

.header__buttons {
  display: flex;
  gap: 20px;
}

.header__buttons a {
  font-size: 32px;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  
}

.header__buttons-book {
  background-color: #2B2A29;
  color: #FFFFFF;
}

.header__buttons-activities {
  color: #2B2A29;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #2B2A29;
}








@media (max-width: 1920px) {
  .header {
    padding-bottom: 50px;
  }

  .header__top {
    padding-top: 30px;
  }

  .header__news-box {
    margin-bottom: 20px;
  }
}